{
  "printWidth": 90,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": false,
  "trailingComma": "none",
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "parser": "typescript",
  "overrides": [{
    "files": "*.md",
    "options": {
      "parser": "markdown",
      "proseWrap": "always",
      "printWidth": 80
    }
  }]
}