.notes_section {
  text-align:left;
  margin: 10px 30px;
  width: 100%;
}

.notes_section ul li {
  margin-bottom: 10px;
}

.notes_section a,
.notes_section a:hover,
.notes_section a:visited
{
  color: #40e0d0;
}