.App {
  text-align: center;
}

.App-header {
  background: #fed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 20px;
  padding: 10px;
  list-style: none;
  text-align: right;
  gap: 10px;
}

.App-link {
  color: #09d3ac;
}

a {
  color: orange;
  text-decoration: none;
}

a:visited {
  color: #c70;
}

a:hover {
  color: #c80;
  text-decoration: underline;
}

a:target {
  color: black;
  font-weight: bold;
  text-decoration: none;
  cursor: default;
}