body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: orange;
  text-decoration: none;
}

a:visited {
  color: #c70;
}

a:hover {
  color: #c80;
  text-decoration: underline;
}

a:target {
  color: black;
  font-weight: bold;
  text-decoration: none;
  cursor: default;
}

input {
  font-size: inherit;
  width: 200px;
  box-sizing: border-box;
}

.App-header {
  background: #fed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 0 0 20px;
  padding: 10px;
  list-style: none;
  text-align: right;
}

.App-link {
  color: #09d3ac;
}

.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.Main-box {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms;
}